.header{
  max-width: calc(100% - 400px);
  height: 74px;
  margin: 0 auto;
  padding-top: 45px;
  border-bottom: solid 1px;
  border-color: rgba(84, 84, 84, 1);
}

@media (max-width: 1024px) {
  .header{
    max-width: calc(100% - 300px);
  }
}

@media (max-width: 768px) {
  .header{
    max-width: calc(100% - 200px);
  }
}

@media (max-width: 500px) {
  .header{
    max-width: 100%;
    height: 56px;
    padding-top: 28px;
  }
}
