.popup__close {
  position: absolute;
  right: -40px;
  top: -40px;
  z-index: 2;
  cursor: pointer;
  width: 32px;
}

.popup__close:hover {
  opacity: 0.6;
}


@media (max-width: 500px) {
  .popup__close {
    right: 0;
    top: -40px;
    width: 20px;
  }
}
