.profile-info{
  min-height: 73px;
  align-self: center;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .profile-info{
    max-width: calc(100% - 52px);
  }
}

@media (max-width: 500px) {
  .profile-info{
    max-width: calc(100% - 38px);
  }
}

